%h2{style: "color: Orange"} About the Website
%p
  This website was created for the purpose of the course TEXT MINING (Spring Semester 2015) at the
  %a{href: 'www.nthu.edu.tw' ,style: "text-decoration: underline;"} National Tsing Hua University.
%p
  Are you thinking of buying a car and have NO idea what to buy?
  Do you need some feedback from previous and current users?
  Look no further because Carpinion offers you the feedback that you are in search of.
%p
  Carpinion is a website created by Clive Augustin, Daisin Li and Tiffany Fontenelle-Augustin (for contact info, see "Contact Us" tab).
  We are aware of the headaches associated with choosing the right vehicle to suit the purpose and so we have designed this website to give prospective buyers some feedback. The following are just a few of the MANY benefits of using our website:
%ul
  %li
    Users can benefit from the feedback of others.
  %li
    Users can avoid making the same mistakes as others have done.
  %li
    Users can get an idea of what current and past users think about a partical car and model.
  %li
    Users can explore vehicles with similar ratings.
%p
%h4
  All the best in your quest for a vehicle and we do hope that this website serves your needs as much as possible!
