%h2{style: "color:green"} Contact Us
%p{class: 'hp'}
  This website was created for the purpose of SIS Research Data Collection (Fall Semester 2015) at the
  %a{href: 'www.nthu.edu.tw' ,style: "text-decoration: underline;"} National Tsing Hua University.
  Developers Contact Information:
%ul{class: 'hp'}
  %li{style: "color: #0066FF"}
    Clive Augustin
    %ul{style: "color: Black"}
      %li
        Qualifications
        %p
          Bsc. Computing Minor: Mathematics
          %br
            Msc. Information systems and Applications (in progress)
      %li
        Public Key
        %p
          %a{href: 'files/cliveKey.txt' ,style: "text-decoration: underline;"} Click Here for my public key.
      %li
        %p
          Email address: cliveaugustin@gmail.com
