%h2{style: "color: Red"} Help
%p
  The following is a list of functionalities available and how to use them.
%ul
  %li
    Functionality 1
  %li
    Functionality 2
  %li
    Functionality 3
  %li
    Functionality 4
