%h2{style: "color: Red"} Help
%p{class: 'headings'}
  The following is a list of functionalities available and how to use them.
%ul
  %li{class: 'hlist'}
    Overall Ratings
    %p{class: 'hp'} Using the dropdown menus provided, select the year, make and model of a car to view the overall rating of a vehicle.
  %li{class: 'hlist'}
    Main Features
    %p{class: 'hp'} Using the dropdown menus provided, select the year, make and model of a car to view the main features (both negative and positive) given by users.
  %li{class: 'hlist'}
    Find by Ratings
    %p{class: 'hp'} Using the dropdown menus provided, select the predefine rating range to view a list of similar cars within that range.
