%h1 Welcome to Carpinion
%p
  Are you thinking of buying a car and have NO idea what to buy?
%p
  Do you need some feedback from previous and current users?
  Look no further - Carpinion offers you the feedback that you are in search of.

%p
  %h4 Carpinion Services
  %ul
    %li
      %a{href: '/'} User Feedback on Cars
    %li
      %a{href: '/'} Car Ratings & Ranking
