%img{class: 'animated img-animated', :src => "/images/other.png"}
%h1
%p
  %h3
    %strong Carpinion Services
  %ul
    %li
      %a{href: '/over'} Overall Ratings
    %li
      %a{href: '/'} Model specific ratings
