%img{class: 'animated img-animated', :src => "/images/other.png"}
%h1
%p
  %h3
    %strong Carpinion Services
  %ul
    %li
      %a{href: '/'} User Feedback on Cars
    %li
      %a{href: '/'} Car Ratings & Ranking
