%img{class: 'animated img-animated', :src => "/images/other.png"}
%h1
%p
  %h3
    %strong Carpinion Services
  %ul{style: "font-size: 14px;"}
    %li
      %a{href: '/over'} Overall Ratings
    %li
      %a{href: '/'} Find by Ratings
