!!! 5
%html
  %head
    %title Carpinion
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' }
    %link{rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'custom.css'}
  %body
    %nav{class: 'navbar navbar-default' }
      .container-fluid
        .navbar-header
          %a{href: '/', class: 'navbar-brand',style: "color:white;"}
            %strong Carpinion
        %div{class: 'collapse navbar-collapse'}
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: '/about', style: "color:white;"} ABOUT
            %li
              %a{href: '/help', style: "color:white;"} HELP
            %li
              %a{href: '/contact', style: "color:white;"} CONTACT US
    .container
      .page-header
        %h1{style: 'text-shadow: 2px 2px #ff9999;'}
          %strong Welcome to Carpinion Automobile Recommendation System
      = yield
