%h2{style: "color: #000066"} Overall Ratings
%p{class: 'hp'}
  Select the year of the vehicle that you desire to view.
  The highest rating is 10.
%form
  %div
    %select{class: 'yselections', :onchange => "window.location='/over1?year=' + this.value;"}
      %option{:value => "default"} Select a year
      %option{:value => "2007"} 2007
      %option{:value => "2008"} 2008
      %option{:value => "2009"} 2009
