%h2{style: "color: #005c1f"} Find By Ratings
%p{class: 'hp'}

-if @car
  %table{class: 'rlist table', :border => '1'}
    %tbody
      %tr{class: 'rows'}
        %th{class: 'lrows'} Year
        %th{class: 'lrows'} Make
        %th{class: 'lrows'} Model
        %th{class: 'lrows'} Sentiment
      -@car.each do |c|
        %tr{class: 'lrows'}
          %td{class: 'lrows'}
            = c['year']
          %td{class: 'lrows'}
            = c['make']
          %td{class: 'lrows'}
            = c['model']
          %td{class: 'lrows'}
            = c['model_sentiment']
%form{:action => '/ratings', :method => 'gett', :id => 'rlist-form', class: 'form-inline'}
  %input{:type => 'submit', :id => 'rlist-form-submit', :class => 'btn btn-default', :value => 'Choose new range'}
